*{
    
  padding: 0%;
  margin: 0%;
  }
  
.nav {
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  
}

#logo{
  margin-top: 20px;
  width: 120px;
  height: 50;
  margin-left: 20px;
  gap: 60px;
}

li a{

text-decoration: none;
color: black;
font-size: 20px;
padding: 25px;

}

ul{
display: flex; 
flex-direction: row;
}

li{
list-style: none; 
}

nav{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 10px;
gap: 20px;
}

.banner{
  background-image:url("./assents/Img.\ Principal.png");
  width: 1700px;
  height: 700px;
  justify-content: center;
  display: flex;
  gap: 200px;
  
}

.btn{
   height: 40px;
   border-radius: 100px;
   border: none;
   color: #EB6628;
   font-size: 30px;
   background-color: #EB6628;
   margin: 55px;
   color: white;
   margin-top: 20px;
}

.backgroud-image {
  align-items: center;
  color: white;
}

.banner-  {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.texto-abaixo{
color: rgb(3, 3, 3);
font-size: 95px;

}
  
